<!DOCTYPE html>

<html lang="es">

<head>

<meta charset="UTF-8"></META>

<link rel="stylesheet" href="./form-submit.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta http-equiv="X-UA-Compatible" content="ie=edge">

<style>

body{

		background-color: #FFFFFF;       		

	}

    h1{

		color: blue; 

      text-align:center;

        font-family:Verdana;

        font-size:16px;

	}

    h3{

    background-color: #FCE4EC;	 

    border: 4px solid black;

    margin: 0 auto; 

    width:350px;

    font-family:Tahoma;

   	

   	font-size:13px;

   

}

</style>

<title>Page Title</title>

</head>

<body>

	<marquee> Ayudanos a encontrarles su hogar </marquee>

    <hr/>

<h1>PET TO THE RESCUE </h1>

<br>

<form method="post" action="">

<h3>

<p>

<label for="newPassword">New Password:</label>

<input type="password" id="newPassword" name="newPassword" title="New password" />

</p>

</form>

<p>

<label for="confirmPassword">Confirm Password:</label>

<input type="password" id="confirmPassword" name="confirmPassword" title="Confirm new password" />

</p>

</h3>

</form>

<p class="form-actions">

<form action="/ChangePassword.js" method="post" target="_blank">

<button type="change">Cambiar contraseña</button>

 

</p>

</form>
